{% extends 'layout.html.twig' %}


{% block content %}
    <h1>Agences</h1>
    
    <div class="flex-container-agence">      
        <div id="map"></div>

        <script>
            var cities = L.layerGroup();
            L.marker([{{ agences[0].longitude }}, {{ agences[0].latitude }}]).bindPopup("<b>{{ agences[0].name }}</b><br />{{ agences[0].adress }}<br />{{ agences[0].phone }}").addTo(cities),
            L.marker([{{ agences[1].longitude }}, {{ agences[1].latitude }}]).bindPopup("<b>{{ agences[1].name }}</b><br />{{ agences[1].adress }}<br />{{ agences[1].phone }}").addTo(cities),
            L.marker([{{ agences[2].longitude }}, {{ agences[2].latitude }}]).bindPopup("<b>{{ agences[2].name }}</b><br />{{ agences[2].adress }}<br />{{ agences[2].phone }}").addTo(cities),
            L.marker([{{ agences[3].longitude }}, {{ agences[3].latitude }}]).bindPopup("<b>{{ agences[3].name }}</b><br />{{ agences[3].adress }}<br />{{ agences[3].phone }}").addTo(cities),
            L.marker([{{ agences[4].longitude }}, {{ agences[4].latitude }}]).bindPopup("<b>{{ agences[4].name }}</b><br />{{ agences[4].adress }}<br />{{ agences[4].phone }}").addTo(cities),
            L.marker([{{ agences[5].longitude }}, {{ agences[5].latitude }}]).bindPopup("<b>{{ agences[5].name }}</b><br />{{ agences[5].adress }}<br />{{ agences[5].phone }}").addTo(cities),
            L.marker([{{ agences[6].longitude }}, {{ agences[6].latitude }}]).bindPopup("<b>{{ agences[6].name }}</b><br />{{ agences[6].adress }}<br />{{ agences[6].phone }}").addTo(cities),
            L.marker([{{ agences[7].longitude }}, {{ agences[7].latitude }}]).bindPopup("<b>{{ agences[7].name }}</b><br />{{ agences[7].adress }}<br />{{ agences[7].phone }}").addTo(cities);
            
            var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

            var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr}),
                streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});

            var map = L.map('map', {
                center: [25.649933, -77.789409],
                zoom:7,
                layers: [grayscale, cities]
            });

            var baseLayers = {
                "Grayscale": grayscale,
                "Streets": streets
            };

            var overlays = {
                "Cities": cities
            };

            L.control.layers(baseLayers, overlays).addTo(map);
        </script>
                    
    </div>
{% endblock %}
