{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1 class="centerText">{{ title }}</h1>
                <div class="row">

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trier par : {{ currentFilter }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for filterId,filter in filters %}
                                <a class="dropdown-item" href="{{ pageURL }}?page=1&nbElements={{ pageNumber }}&filter={{ filterId }}">{{ filter }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="Page numbers">
                        {% for pageNumber in pagesNumber %}
                            <button onclick="location.href='{{ pageURL }}?page=1&nbElements={{ pageNumber }}&filter={{ currentFilterId }}'" type="button" class="btn btn-secondary">
                                {{ pageNumber }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for property in properties %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{ property.picture }}" alt="{{ property.alt }}" height="140px" width="225px">
                                </div>
                                <div class="col-8">
                                    <h3><a href="/Property/showOne?id={{ property.id_property }}">{{ property.title_property }}</a></h3>
                                    <p>
                                        {% if property.description|length > 50 %}
                                            {{ property.description|slice(0,50) ~ '...' }}
                                        {% else %}
                                            {{ property.description }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li>Aucun bien ne corresponds a votre recherche !</li>
                    {% endfor %}
                </ul>
                <ul class="pagination">
                    {% if currentPage - (nearbyPagesLimit - 1) > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ pageURL }}?page=1&nbElements={{ nbElements }}&filter={{ currentFilterId }}">
                                First
                            </a>
                        </li>
                    {% endif %}
                    {% for i in 1..maxPages %}
                        {% if (currentPage - nearbyPagesLimit) - loop.index == 0 or
                            (currentPage + nearbyPagesLimit) - loop.index == 0 %}
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        {% elseif currentPage - nearbyPagesLimit - loop.index > 0 %}
                        {% elseif currentPage + nearbyPagesLimit - loop.index < 0 %}
                        {% else %}
                            <li class="page-item {% if currentPage == loop.index %}active{% endif %}">
                            <a class="page-link" href="{{ pageURL }}?page={{ loop.index }}&nbElements={{ nbElements }}&filter={{ currentFilterId }}">
                                {{ loop.index }}
                            </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if currentPage + (nearbyPagesLimit - 1) < maxPages %}
                        <li>
                            <a class="page-link"  href="{{ pageURL }}?page={{ maxPages }}&nbElements={{ nbElements }}&filter={{ currentFilterId }}">
                                Last
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
