{% extends 'layout.html.twig' %}

{% block content %}
<div>
    <h1 class="text-center pt-25 mt-0">{{ property.title_property }}</h1>

    <div style="margin:auto; width:725px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
             <ol class="carousel-indicators">
                {% for picture in pictures %}
                    
                    <li data-target="#myCarousel" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for picture in pictures %}
                    <div class="item {% if loop.index == 1 %}active{% endif %}">
                        <img src="{{ picture.picture }}" title="{{ picture.title_picture }}" alt="{{ picture.alt }}" style="width:725px;height:380px">
                    </div>
                {% endfor %}
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Prochain</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 class="text-center">
            <p>{{ property.adress }} - {{ property.name }} </p>
            <p>Prix : {{ property.price }} $</p>
            <p>Surface : {{ property.surface }} m²</p>
            <p>Nombres de pièces : {{ property.room }}</p>
            <p>{{ property.description }}</p>
            </h3>
            <hr>
            <div class="pb-25 text-center">
                <span class="infobar"><img src="/assets/images/localisation.svg" alt="localisation" height="25px" width="25px"> {{ property.name }} ({{ property.postal_code }})</span>
                <span class="infobar"><img src="/assets/images/agence.svg" alt="agence" height="25px" width="25px"> Bien géré par l'{{ agences.name }}</span>
                <span class="infobar"><img src="/assets/images/calendar.svg" alt="calendar" height="25px" width="25px"> Offre parue le {{ property.created|date("d/m/Y") }}</span></br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
