{% extends 'layout.html.twig' %}

{% block content %}   
    <h1>Bahamas Immobilier Defiscalisation</h1>
    <div style="margin:auto; width:725px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="/Property/showOne?id={{ properties[0].id }}"><img src="{{ properties[0].picture }}" title="{{ properties[0].title }}" alt="{{ properties[0].alt }}" style="width:725px;height:380px"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ properties[0].propertyTitle }}</h5>
                    </div>
                </div>
                    <div class="item">
                        <a href="/Property/showOne?id={{ properties[1].id }}"><img src="{{ properties[1].picture }}" title="{{ properties[1].title }}" alt="{{ properties[1].alt }}" style="width:725px;height:380px"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ properties[1].propertyTitle }}</h5>
                    </div>
                </div>    
                <div class="item">
                    <a href="/Property/showOne?id={{ properties[1].id }}"><img src="{{ properties[2].picture }}" title="{{ properties[2].title }}" alt="{{ properties[2].alt }}" style="width:725px;height:380px"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ properties[2].propertyTitle }}</h5>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Prochain</span>
            </a>
        </div>
    </div>
    <h2>Coup de coeur</h2>
    <div class="flex-container" style="width: 100%">
        <div>
            <div><img class="picture-slider" src="/assets/images/villa-1.jpeg" alt="Grapefruit slice atop a pile of other slices" height="140px" width="225px">
            <span>{{ favorite.id_property }} {{ favorite.title }} {{ favorite.surface }} m2, {{ favorite.room }}</span></div>
        </div>
    </div>
    <h2>Nos 10 derniers biens</h2>
    <div class="flex-container">
        {% for newProperty in newProperties %}
            <div><img class="picture-slider" src="{{ newProperty.picture }}" title="{{ newProperty.title }}" alt="{{ newProperty.alt }}" height="140px" width="225px">
            {{ newProperty.id_property }} {{ newProperty.title }} {{ newProperty.surface }} m2, {{ newProperty.room }} chambres</div>
        {% else %}
            <div>Nothing to display</div>
        {% endfor %}
    </div>
    <h2>Voir plus de biens - lian</h2>
{% endblock %}
