<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row mt-30">
                <form method="post" >
                    <input type="hidden" value="{{ contact.id }}" name="id">
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label  for="lastname">Nom :</label>
                            <input type="text" class="form-control" value="{{ contact.lastname }}" name="lastname" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="firstName">Prénom :</label>
                            <input type="text" class="form-control" value="{{ contact.fisrtName }}" name="firstName" required>
                        </div>
                    </div>
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label  for="lastname">Email :</label>
                            <input type="mail" class="form-control" value="{{ contact.mail }}" name="mail" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="firstName">Téléphone :</label>
                            <input type="tel" class="form-control" value="{{ contact.phone }}" name="phone" required>
                        </div>
                    </div>

                    <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label  for="subject">Sujet :</label>
                            <input type="text" class="form-control" value="{{ contact.subject }}" name="subject" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label  for="message">Message :</label>
                        <textarea value="{{ contact.message }}" class="form-control" name="message" required></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                    <button type="submit" class=" btn btn-primary">Envoyer</button>   
                    </div>                
                </form>
            </div>
        </div>
    </div>
</div>
